<!-- 🛠 Header1 component -->
<header class="navbar black">
    <h1 class="text-white text-center Pacifico" title="logo">The Monkees</h1>
    <div class="container">
        {% include "../menu1/menu1.twig" with {activeIndex: 1} %}
    </div>
</header>
{# <div class="h100vh landing"></div> #}
{# <img class="opacity20"
sizes="(max-width: 1400px) 100vw, 1400px"
srcset="
band-assets/images/landing_fvu8ub_c_scale,w_200.jpg 200w,
band-assets/images/landing_fvu8ub_c_scale,w_366.jpg 366w,
band-assets/images/landing_fvu8ub_c_scale,w_490.jpg 490w,
band-assets/images/landing_fvu8ub_c_scale,w_596.jpg 596w,
band-assets/images/landing_fvu8ub_c_scale,w_694.jpg 694w,
band-assets/images/landing_fvu8ub_c_scale,w_779.jpg 779w,
band-assets/images/landing_fvu8ub_c_scale,w_868.jpg 868w,
band-assets/images/landing_fvu8ub_c_scale,w_942.jpg 942w,
band-assets/images/landing_fvu8ub_c_scale,w_1005.jpg 1005w,
band-assets/images/landing_fvu8ub_c_scale,w_1074.jpg 1074w,
band-assets/images/landing_fvu8ub_c_scale,w_1143.jpg 1143w,
band-assets/images/landing_fvu8ub_c_scale,w_1211.jpg 1211w,
band-assets/images/landing_fvu8ub_c_scale,w_1275.jpg 1275w,
band-assets/images/landing_fvu8ub_c_scale,w_1342.jpg 1342w,
band-assets/images/landing_fvu8ub_c_scale,w_1396.jpg 1396w,
band-assets/images/landing_fvu8ub_c_scale,w_1400.jpg 1400w"
src="band-assets/images/landing_fvu8ub_c_scale,w_1400.jpg"
alt=""> #}
