<!-- 🛠 Header1 component -->
<header class="navbar black">
    <h1 class="text-white text-center Pacifico" title="logo">The Monkees</h1>
    <div class="container">
        {% include "../menu1/menu1.twig" with {activeIndex: 1} %}
    </div>
</header>
