<!-- 🛠 VideoPanels component -->
<div class="container">
    {% include "../../atoms/breadcrumb/breadcrumb.twig" with {index: 3} %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="panel panel-default Panel__border--black">
                <div class="panel-heading flex-center">
                    <h3 class="panel-title text-blue">
                        {{video[0].title}}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="videoWrapper">
                        <video class="maxw100" poster="{{video[0].pic}}" src="{{video[0].src}}"
                            controls></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>