<!-- 🛠 Menu1 component -->
<nav>
    <ul class="masthead-nav text-center">
        {% for name in menu %}
            {% set isActive = activeIndex == loop.index %}
            <li {% if isActive %} class="active" {% endif %}>
                <a href="#{{name}}" class="text-white uppercase" title="{{name}}">{{name}}</a>
            </li>
        {% endfor %}
    </ul>
</nav>