<!-- 🛠 Footer component -->
<footer class="black ht4 b0 w100 text-white pt1">
    <ul class="lsn flex-space">
        <li class="fs2_7">
            <a href="https://twitter.com/TheMonkees" target="_blank" rel="noopener" title="Twitter">
                <i class="demo-icon icon-twitter text-white" aria-hidden="true">&#xf099;</i>
            </a>
        </li>
        <li class="fs2_7">
            <a href="https://youtube.com/TheMonkees" target="_blank" rel="noopener" title="You Tube">
                <i class="demo-icon icon-facebook text-white" aria-hidden="true">&#xf09a;</i>
            </a>
        </li>
        <li class="fs2_7">
            <a href="https://www.facebook.com/TheMonkees/" target="_blank" rel="noopener" title="Facebook">
                <i class="demo-icon icon-youtube text-white" aria-hidden="true">&#xf167;</i>
            </a>
        </li>
    </ul>    
</footer>