<!-- 🛠 GalleryCard2 component -->
{# <div class="h100vh gallery"></div> #}
<section id="gallery">
    {# {% include "@atoms/space/space.twig" with {index: 0} %} #}
    <div class="container">
        {% include "../../atoms/breadcrumb/breadcrumb.twig" with {index: 2} %}
        <div class="row">
            {% include "../../molecules/gallerycarousel2/gallerycarousel2.twig" %}
        </div>
    </div>
</section>
