<!-- 🛠 Variant mobile -->
<article class="col-xs-12 col-sm-4">
    <h3 class="text-red">{{heading}}</h3>
    {% for t in text %}
        <p class="text-left text-black SourceSerifPro">{{t}}</p>
    {% endfor %}
</article>
