<!-- 🛠 Card component -->
{# <div class="h100vh events"></div> #}
<section id="events">
    {# {% include "@atoms/space/space.twig" with {index: 2} %} #}
    {% include "../../molecules/panels/panels.twig" %} 
</section>
