<!-- 🛠 Variant newscard2_v1 -->
<section id="news">
    {# {% include "@atoms/space/space.twig" with {index: 1} %}  #}
    {% include "../../molecules/newspanels2/newspanels2-newspanels2_v1.twig" with { activeIndex: 1 } %} 
</section>
