/*****************************************
  #BASE-TITLE
  
\*****************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    line-height: 1.5;
    font-size: 62.5%;
    background-color: white; 
  }

/*****************************************
  #TYPOGRAPHY-TITLE
  
\*****************************************/
  .SourceSansPro {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .SourceSerifPro {
    font-family: 'Source Serif Pro', serif;
  }

  .Pacifico {
    font-family: 'Pacifico', cursive;
  }

/*****************************************
  #RESPONSIVE-TYPOGRAPHY-TITLE
  
\*****************************************/
  
  // p, h3 {
  // font-size: 15px;
  // line-height: 1.474;
  // }
  // @media screen and (min-width: 480px) {
  //   p, h3 {
  //     font-size: 16px;
  //     line-height: 1.467;
  //   } 
  // }
  // @media screen and (min-width: 768px) {
  //   p, h3 {
  //     font-size: 17px;
  //     line-height: 1.38; 
  //   } 
  // }
  // @media screen and (min-width: 1024px) {
  //   p, h3 {
  //     font-size: 19px;
  //     line-height: 1.419; 
  //   } 
  // }

  body {
    font-size: 1.5rem;
    line-height: 1.4666666666666666em;
    margin: 0; padding: 0
  }
  h1 {
    margin-top: 0.9565217391304348em;
    font-size: 1.5333333333333334em;
    line-height: 0.9565217391304348em;
    margin-bottom: 0.9565217391304348em;
  }
  h2 {
    margin: 0;
    font-size: 1.4em;
    line-height: 1.0476190476190477em;
    margin-bottom: 1.0476190476190477em;
  }
  h3 {
    margin: 0;
    font-size: 1.2666666666666666em;
    line-height: 1.1578947368421053em;
    margin-bottom: 1.1578947368421053em;
  }
  h4 {
    margin: 0;
    font-size: 1.1333333333333333em;
    line-height: 1.2941176470588236em;
    margin-bottom: 1.2941176470588236em;
  }
  p, ul, blockquote, pre, td, th, label {
    margin: 0;
    font-size: 1em;
    line-height: 1.4666666666666666em;
    margin-bottom: 1.4666666666666666em;
  }
  p.small {
    margin: 0;
    font-size: 0.8666666666666667em;
    line-height: 1.6923076923076923em;
    margin-bottom: 1.6923076923076923em;
  }
  table {
    border-collapse: collapse;
    margin-bottom: 1.4666666666666666em;
  }
  
  @media screen and (min-width: 480px) {
    body {
      font-size: 1.6rem;
      line-height: 1.4375em;
      margin: 0; padding: 0
    }
    h1 {
      margin-top: 0.9583333333333334em;
      font-size: 1.5em;
      line-height: 0.9583333333333334em;
      margin-bottom: 0.9583333333333334em;
    }
    h2 {
      margin: 0;
      font-size: 1.375em;
      line-height: 1.0454545454545454em;
      margin-bottom: 1.0454545454545454em;
    }
    h3 {
      margin: 0;
      font-size: 1.25em;
      line-height: 1.15em;
      margin-bottom: 1.15em;
    }
    h4 {
      margin: 0;
      font-size: 1.125em;
      line-height: 1.2777777777777777em;
      margin-bottom: 1.2777777777777777em;
    }
    p, ul, blockquote, pre, td, th, label {
      margin: 0;
      font-size: 1em;
      line-height: 1.4375em;
      margin-bottom: 1.4375em;
    }
    p.small {
      margin: 0;
      font-size: 0.875em;
      line-height: 1.6428571428571428em;
      margin-bottom: 1.6428571428571428em;
    }
    table {
      border-collapse: collapse;
      margin-bottom: 1.4375em;
    }
    
  }

  @media screen and (min-width: 768px) {
    body {
      font-size: 1.7rem;
      line-height: 1.3529411764705883em;
      margin: 0; padding: 0
    }
    h1 {
      margin-top: 0.92em;
      font-size: 1.4705882352941178em;
      line-height: 0.92em;
      margin-bottom: 0.92em;
    }
    h2 {
      margin: 0;
      font-size: 1.3529411764705883em;
      line-height: 1em;
      margin-bottom: 1em;
    }
    h3 {
      margin: 0;
      font-size: 1.2352941176470589em;
      line-height: 1.0952380952380953em;
      margin-bottom: 1.0952380952380953em;
    }
    h4 {
      margin: 0;
      font-size: 1.1176470588235294em;
      line-height: 1.2105263157894737em;
      margin-bottom: 1.2105263157894737em;
    }
    p, ul, blockquote, pre, td, th, label {
      margin: 0;
      font-size: 1em;
      line-height: 1.3529411764705883em;
      margin-bottom: 1.3529411764705883em;
    }
    p.small {
      margin: 0;
      font-size: 0.8823529411764706em;
      line-height: 1.5333333333333334em;
      margin-bottom: 1.5333333333333334em;
    }
    table {
      border-collapse: collapse;
      margin-bottom: 1.3529411764705883em;
    }
    
  }
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.9rem;
      line-height: 1.368421052631579em;
      margin: 0; padding: 0
    }
    h1 {
      margin-top: 0.9629629629629629em;
      font-size: 1.4210526315789473em;
      line-height: 0.9629629629629629em;
      margin-bottom: 0.9629629629629629em;
    }
    h2 {
      margin: 0;
      font-size: 1.3157894736842106em;
      line-height: 1.04em;
      margin-bottom: 1.04em;
    }
    h3 {
      margin: 0;
      font-size: 1.2105263157894737em;
      line-height: 1.1304347826086956em;
      margin-bottom: 1.1304347826086956em;
    }
    h4 {
      margin: 0;
      font-size: 1.105263157894737em;
      line-height: 1.2380952380952381em;
      margin-bottom: 1.2380952380952381em;
    }
    p, ul, blockquote, pre, td, th, label {
      margin: 0;
      font-size: 1em;
      line-height: 1.368421052631579em;
      margin-bottom: 1.368421052631579em;
    }
    p.small {
      margin: 0;
      font-size: 0.8947368421052632em;
      line-height: 1.5294117647058822em;
      margin-bottom: 1.5294117647058822em;
    }
    table {
      border-collapse: collapse;
      margin-bottom: 1.368421052631579em;
    }
     
  }
  /*****************************************
    #COLOUR-CLASSES-TITLE 
    
  \*****************************************/
  
  .black {
    background-color: #0A0A0A;
  }
  
  .grey {
    background-color: #bfbfbf;
  }
  
  .darkgrey {
    background-color: #b4b4b4;
  }
  
  .green {
    background-color: #22863a;
    transition: all 1s ease;
  }
  
  .green:hover {
    background-color: darkgreen;
    stroke: darkgreen;
  }
  
  .text-white {
    color: #d2cece;
    transition: all 1s ease;
  }
  
  .text-white:hover {
    color: white;
    text-decoration: none;
  }
  
  .breadcrumb > .active {
    color: #313030;
  }
  
  .text-black {
    color: #312c2c;
  }
  
  .text-red {
    color: #d73a49;
  }
  
  .text-green {
    color: #125a14;
  }
  
  .text-blue {
    color: #310d88;
  }
  
  .text-blue:hover {
    color: darkblue;
  }
  
  /*****************************************
    #MARGIN-TITLE
    
  \*****************************************/
  
  .m0a {
    margin: 0 auto;
  }
  
  .mb2 {
    margin-bottom: 2rem;
  }
  
  /*****************************************
    #WIDTH-TITLE
    
  \*****************************************/
  .maxw100 {
    max-width: 100%;
  }
  
  .w100 {
    width: 100%;
  }
  
  .w33 {
    width: 33%;
  }
  
  .w15-5vw {
    width: 15vw;
  }
  
  @media (min-width: 37.8rem) {
    .w15-5vw {
      width: 5vw;
    }
  }
  
  /*****************************************
    #HEIGHT-TITLE
    
  \*****************************************/
  .h100 {
    height: 100%;
  }
  
  .h33 {
    height: 33%;
  }
  
  .h15-5vw {
    height: 15vw;
  }
  
  @media (min-width: 37.8rem) {
    .h15-5vw {
      height: 5vw;
    }
  }
  
  /*****************************************
    #DISPLAY-TITLE
    
  \*****************************************/
  .dn {
    display: none;
  }
  
  .db {
    display: block;
  }
  
  .dib {
    display: inline-block;
  }
  
  .nowrap {
    white-space: nowrap;
  }
  
  /*****************************************
    #PADDING-TITLE
    
  \*****************************************/
  
  .pb10 {
    padding-bottom: 10rem;
  }
  
  .pl2 {
    padding-left: 2rem;
  }
  
  .pr2 {
    padding-right: 2rem;
  }
  
  .pt1 {
    padding-top: 1rem;
  }
  
  /*****************************************
    #TEXT-TITLE 
    
  \*****************************************/
  
  .fs2 {
    font-size: 2rem;
  }
  
  .fs2_7 {
    font-size: 2.7rem;
  }
  
  
  .underline { 
    text-decoration: underline; 
  }
  
  /*****************************************
    #FLEX-TITLE
    
  \*****************************************/
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .flex-space {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .flex {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }
  
  .flex-footer {
    flex: 1 0 auto;
  }
  
  /*****************************************
    #OVERFLOW-TITLE
    
  \*****************************************/
  
  .overflowxs {
    overflow-x: scroll;
  }
  
  .overflowyh {
    overflow-y: hidden;
  }
  
  /*****************************************
    #POSITION-TITLE
    
  \*****************************************/
  .pf {
    position: fixed;
  }
  
  .pr {
    position: relative;
  }
  
  .pa {
    position: absolute;
  }
  
  .t0 {
    top: 0;
  }
  
  .t33 {
    top: 33%;
  }
  
  .t66 {
    top: 66%;
  }
  
  .t50 {
    top: 50%;
  }
  
  .l0 {
    left: 0;
  }
  
  .l33 {
    left: 33%;
  }
  
  .l66 {
    left: 66%;
  }
  
  .l50 {
    left: 50%;
  }
  
  .b0 {
    bottom: 0;
  }
  
  .r0 {
    right: 0;
  }
  
  .ttc {
    transform: translate(-50%, -50%);
  }
  
  /*****************************************
    #LIST-TITLE
    
  \*****************************************/
  .lsn {
    list-style: none;
  }
  
  /*****************************************
    #BORDER-TITLE
    
  \*****************************************/
  .br10 {
    border-radius: 10rem;
  }
  
  .bn {
    border: none;
  }
  
  /*****************************************
    #MODAL-TITLE
    
  \*****************************************/
  @keyframes anim {
    0% {
      /* transform: translateX(1000px); */
      opacity: 0;
    }
    100% {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }
  
  .db, .dn {
    animation: anim .4s forwards 0s ease;
  }
  
  /*****************************************
    #CURSOR-TITLE
    
  \*****************************************/
  .cp {
    cursor: pointer;
  }
  
  /*****************************************
    #Z-INDEX-TITLE
    
  \*****************************************/
  
  .z0 {
    z-index: 0;
  }
  
  .z1 {
    z-index: 1;
  }
  
  /*****************************************
    #HEADER-TITLE
    
  \*****************************************/
  
  .masthead-nav > li {
    display: inline-block;
  }
  
  .masthead-nav > li + li {
    margin-left: 1.5vw;
  }
  
  .masthead-nav > li > a {
    font-size: 4vw;
  }
  
  @media (min-width: 37.8rem) {
    .masthead-nav > li > a {
      font-size: 1.6rem;
    }
  }
  
  .masthead-nav > li > a:hover {
    background-color: #222;
  }
  
  .masthead-nav > .active > a {
    border-bottom: solid 2px #fff;
  }
  
  @media (min-width: 76.8rem) {
    .masthead-nav {
      float: right;
    }
  }
  
  /*****************************************
    #MUSIC-PLAY-BUTTON-TITLE
    
  \*****************************************/
  @keyframes play18 {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -432px 0px;
    }
  }

  @keyframes play19 {
    0% {
      background-position: -432px 0px;
    }
    100% {
      background-position: 0px 0px;
    }
  }
  
  .shapeshifter {
    animation-duration: 300ms;
    animation-timing-function: steps(18);
    animation-fill-mode: forwards;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }
  
  .play {
    animation-name: play18;
  }

  .pause {
    animation-name: play19;
  }
  
  .sprite {
    background-image: url(sprite_60fps.svg);
  }
  
  /*****************************************
    #BORDER-TITLE
    
    \*****************************************/
  
  .Panel__border--black {
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
  }
  
  /*****************************************
    #GALLERY-TITLE
    
  \*****************************************/
  
  .Gallery__background--position {
    background: url() center center/cover no-repeat;
  }
  
  .Gallery__width--responsive {
    width: 80vw;
    height: 80vw;
  }
  
  @media(min-width: 76.8rem){
    .Gallery__width--responsive {
      width: 40rem;
      height: 40rem;
    }
  }
  
  /*****************************************
    #GALLERY-CHECKBOX-HACK-TITLE
    
  \*****************************************/
  
  input[type="checkbox"]{
    display:none;
  }
  
  [class*='modalgallery'] {
    transition: all 0.5s ease-out;
  }
  
  input[type="checkbox"]:checked + [class*='modalgallery'] {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  /*****************************************
    #TRANSPARENT-TITLE
    
  \*****************************************/
  
  .transparent {
    background: transparent;
  }
  