<!-- 🛠 Video component -->
{# <div class="h100vh video"></div> #}
<section id="video">
    {# {% include "@atoms/space/space.twig" with {index: 3} %} #}
    {% include "../../molecules/videopanels/videopanels.twig" %}
</section>
