<!-- 🛠 MusicPanels component -->
<div class="container">
    {% include "../../atoms/breadcrumb/breadcrumb.twig" with {index: 4} %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <div id="myCarousel2" class="carousel">
                <div class="carousel-inner">
                    {% for m in music %}
                        {% set isActive = activeIndex == loop.index %}
                        <div class="item {% if isActive %} active {% endif %}">
                          {% include "../../atoms/musicpanel/musicpanel.twig" with {
                            track: m.track,
                            src: m.src,
                            audio_id: m.audio_id,
                            playPause: m.playPause,
                            playid: m.playid
                          } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>